{{ define "layout" }}
<div hx-boost="true">
	<h1>Food Diary</h1>

	<form method="post" action="/meals">
		<fieldset>
			<legend>Enter your meals</legend>
			<label for="breakfast">Breakfast</label>
			<input id="breakfast" type="text" name="breakfast" />
			<label for="lunch">Lunch</label>
			<input id="lunch" type="text" name="lunch" />
			<label for="dinner">Dinner</label>
			<input id="dinner" type="text" name="dinner" />
			<label for="snacks">Snacks</label>
			<input id="snacks" type="text" name="snacks" />
			<button type="submit">Submit</button>
		</fieldset>
	</form>

	<table>
		<thead>
			<th>Time</th>
			<th>Breakfast</th>
			<th>Lunch</th>
			<th>Dinner</th>
			<th>Snacks</th>
			<th>Delete</th>
		</thead>
		<tbody>
			{{ range .Meals }}
			<tr>
				<td style="font-family: monospace">{{ .DateConsumed }}</td>
				{{ if eq .MealType "breakfast"}}
				<td>{{ .Name }}</td>
				{{ else }}
				<td></td>
				{{ end }} {{ if eq .MealType "lunch"}}
				<td>{{ .Name }}</td>
				{{ else }}
				<td></td>
				{{ end }} {{ if eq .MealType "dinner"}}
				<td>{{ .Name }}</td>
				{{ else }}
				<td></td>
				{{ end }} {{ if eq .MealType "snacks"}}
				<td>{{ .Name }}</td>
				{{ else }}
				<td></td>
				{{ end }}
				<td><a hx-delete="/meals/{{ .Id }}">remove</a></td>
			</tr>
			{{ end }}
		</tbody>
	</table>

	<style>
		this {
			display: grid;
			grid-gap: 2rem;
			grid-template-columns: repeat(12, 1fr);
			margin: 0 auto;
			max-width: 74rem;
		}

		this h1 {
			grid-column: span 12;
		}

		this form {
			background-color: var(--bg-secondary);
			border-radius: 0.5rem;
			border: 1px solid var(--border-color);
			grid-column: span 4;
			padding: 1rem;
			box-shadow: var(--box-shadow-primary);
		}

		this fieldset {
			border: none;
		}

		this input {
			background-color: var(--input-bg);
			border-radius: 0.25rem;
			border: 1px solid var(--input-border);
			color: var(--input-text);
			display: block;
			width: 100%;
			box-shadow: var(--box-shadow-secondary);
		}

		this button {
			background-color: var(--btn-bg);
			border-radius: 0.5rem;
			border: 1px solid var(--border-color);
			box-shadow: var(--box-shadow-primary);
			color: var(--btn-text);
			margin: 1rem 0;

			&:hover {
				background-color: var(--btn-hover-bg);
				box-shadow: var(--box-shadow-hover);
				cursor: pointer;
			}
		}

		this label {
			color: var(--text-primary);
			font-weight: bold;
		}

		this table {
			background-color: var(--bg-secondary);
			border-collapse: collapse;
			border: none;
			grid-column: span 8;
			width: 100%;
			border-radius: 0.5rem;
			border-style: hidden; /* hide standard table (collapsed) border */
			box-shadow: 0 0 0 1px var(--border-color); /* this draws the table border  */
		}

		this th,
		this td {
			border-bottom: 1px solid var(--border-color);
			padding: 0.5rem 0.75rem;
		}

		this td {
			color: var(--text-secondary);
		}

		this a {
			background-color: var(--input-bg);
			border-radius: 0.25rem;
			border: 1px solid var(--border-color);
			box-shadow: var(--box-shadow-primary);
			color: tomato;
			cursor: pointer;
			padding: 0.2rem 0.4rem;

			&:hover {
				background-color: tomato;
				color: var(--text-secondaryy);
				box-shadow: var(--box-shadow-hover);
			}
		}

		@media sm- {
			this form {
				grid-column: span 12;
				width: 100%;
			}

			this th,
			this td {
				padding: 0.25rem;
			}

			this table {
				grid-column: span 12;
			}

			this {
				margin: 0.25rem 0.5rem;
			}
		}
	</style>
</div>
{{ end }}
