{{ define "table" }}
<table>
	<thead>
		<th>Time</th>
		<th>Breakfast</th>
		<th>Lunch</th>
		<th>Dinner</th>
		<th>Snacks</th>
		<th>Delete</th>
	</thead>
	<tbody>
		{{ range .Meals }}
		<tr>
			<td style="font-family: monospace">{{ .DateConsumed }}</td>
			{{ if eq .MealType "breakfast"}}
			<td>{{ .Name }}</td>
			{{ else }}
			<td></td>
			{{ end }} {{ if eq .MealType "lunch"}}
			<td>{{ .Name }}</td>
			{{ else }}
			<td></td>
			{{ end }} {{ if eq .MealType "dinner"}}
			<td>{{ .Name }}</td>
			{{ else }}
			<td></td>
			{{ end }} {{ if eq .MealType "snacks"}}
			<td>{{ .Name }}</td>
			{{ else }}
			<td></td>
			{{ end }}
			<td><a hx-delete="/api/meals/{{ .Id }}">remove</a></td>
		</tr>
		{{ end }}
	</tbody>
	<style>
		this {
			border-collapse: collapse;
			border: none;
			grid-column: span 8;
			width: 100%;
			border-radius: 0.5rem;
			border-style: hidden; /* hide standard table (collapsed) border */
			box-shadow: 0 0 0 1px var(--border-color); /* this draws the table border  */
		}

		this th,
		this td {
			border-bottom: 1px solid var(--border-color);
			padding: 0.5rem 0.75rem;
			width: calc(100% / 6);
		}

		this th {
			background-color: var(--bg-secondary);
		}

		this td {
			color: var(--text-secondary);
		}

		this a {
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: var(--input-bg);
			border-radius: 0.25rem;
			border: 1px solid var(--border-color);
			box-shadow: var(--box-shadow-primary);
			color: tomato;
			cursor: pointer;
			margin: 0.25rem 0.5rem;

			&:hover {
				background-color: tomato;
				color: var(--text-secondaryy);
				box-shadow: var(--box-shadow-hover);
			}
		}
	</style>
</table>
{{ end }}
